{
  "express": {
    "port": 3000
  },
  "request": {
    "reject-unauthorized": false
  },
  "bamboo-rest": {
    "protocol": "https",
    "host": "bamboo.ec2.local",
    "baseUrl": "/rest/api/",
    "user": "",
    "pass": ""
  }
}